extends layout

block script
    script(src='/javascripts/logout.js')

block content
    div
        p
            div Welcome #{username} 
            div You have logged in #{count} times
            div
                button#btnLogout(type="button") Logout
