extends layout

block script
    script(src='/javascripts/logout.js')

block content
    div
        p
            div Welcome #{user_name} 
            div You have logged in #{login_count} times
            div
                button#btnLogout(type="button") Logout
